body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    margin-top:20px;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.portfolio-item {
    margin-bottom: 25px;
}
.portfolio-inside {
    margin-left:25px;
    margin-right:25px;
    border: solid 1px #E4E4E4;
    border-radius: 5px;
    align-items : center;
    background:rgba(255,255,255,0.4);
    height:425px;
    font-family: "Lucida Console", Monaco, monospace;
}

.form-horizontal {
    background:rgba(255,255,255,0.4);
    border: solid 1px #E4E4E4;
    border-radius: 5px;
}

.self-button {
    margin-bottom:-45px;
    margin-left:10px;
}

.orderindexitem {
    background:rgba(255, 216, 0, 0.4);
    border: solid 1px #E4E4E4;
    border-radius: 5px;
}

footer {
    margin: 50px 0;
}

.interaction-button {
    font-size:20px; 
    margin:auto; 
    display:block;
}

.reg-form {
    font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.helper-img {
    display: inline-block;
    vertical-align: middle;
    margin:auto;
    margin-left:10px;
    width:180px;
}

.time-text-wrapper {
    margin:auto; 
    width:100%;
}
.item-name-wrapper {
    height: 80px;
    text-align:center;
    font-family: 'Trebuchet MS', Helvetica, serif;
    font-weight:bold; 
    font-size:25px;
    display:block;
}

.advanced-seach-button {
    margin-left:350px;
    width:200px;
}

.img-wrapper {
    width:218px; 
    height:180px; 
    overflow:hidden;
}

.not-time-text, .time-text {
    display:block; 
    margin:auto; 
    text-align:center;
}

.price-row {
    margin:auto;
    width:100%;
    margin-top:10px;
}

.current-price {
    display:inline; 
    font-weight:bold;
}

.current-price-wrapper {
    width:95px; 
    display:inline-block; 
    text-align:right;
}

.current-price-img {
    width:38px;
    height:31px;
    float:right;
}

.current-price-text {
    text-align:left;
    display:inline;
    margin-left:10px;
}

.last-bidder {
    display:inline; 
    margin-right:0px; 
    font-weight:bold;
}

.last-bidder-wrapper {
    width:100%;
    margin-top:10px; 
    margin-left:20px;
}

.remove-order {
    background-image:url("/Content/close_window.png");
    display:block;
    background-size: 100% 100%;
    z-index:999;
    position:relative;
    width:25px;
    height:25px;
}